:root {
  --theme_color-bold: #ff8c19;
  --theme_color-light: #ffead5;
  --theme_color-dark : #934a01;
  --theme: white;
  --background-white: #fffaf4;
  --danger: red;
  --font-color: black;
  --font-color-faded: grey;
  --font-color-inverse: white;
}
